!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p>Results: <%=PigLatinizer.new.convert_to_piglatin(params[:phrase]) %></p>
  </body>
</html>